{% extends "base.html" %}
{% block title %}Admin Settings{% endblock %}
{% block content %}
<h1>Admin Settings</h1>
<p>Use the options below to manage patient records or change your password.</p>
<ul>
  <li><a href="{{ url_for('insert_record') }}">Insert new record</a></li>
  <li><a href="{{ url_for('edit_record') }}">Edit a record</a></li>
  <li><a href="{{ url_for('delete_record') }}">Delete a record</a></li>
  <li><a href="{{ url_for('change_password') }}">Change password</a></li>
</ul>
{% endblock %}